// $kar-primary-map: (
//     50 : #e9eeff,
//     100 : #c8d4ff,
//     200 : #a3b7ff,
//     300 : #7e9aff,
//     400 : #6285ff,
//     500 : #466fff,
//     600 : #3f67ff,
//     700 : #375cff,
//     800 : #2f52ff,
//     900 : #2040ff,
//     A100 : #ffffff,
//     A200 : #ffffff,
//     A400 : #cfd5ff,
//     A700 : #b6bfff,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );

$kar-accent-map: (
    50 : #e9eeff,
    100 : #c8d4ff,
    200 : #a3b7ff,
    300 : #7e9aff,
    400 : #6285ff,
    500 : #466fff,
    600 : #3f67ff,
    700 : #375cff,
    800 : #2f52ff,
    900 : #2040ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #cfd5ff,
    A700 : #b6bfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$kar-danger-map: (
    50: #fdeaea,
    100: #facbcb,
    200: #f7a9a8,
    300: #f48785,
    400: #f16d6a,
    500: #ef5350,
    600: #ed4c49,
    700: #eb4240,
    800: #e83937,
    900: #e42927,
    A100: #ffffff,
    A200: #ffeded,
    A400: #ffbbba,
    A700: #ffa2a1,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
